.FABbtn{
    height: clamp(50px,10vw,70px);
    width: clamp(50px,10vw,70px);
    border-radius: 50%;
    border: none;
    background-color: aqua;
    font-size: clamp(1em, 5vw,2em);
    color: rgb(72, 72, 72);
    font-weight: 900;
}
