/* *{
    border: 1px solid red;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

#FAB{
    position: fixed;
    bottom: 170px;
    right: 50px;
}

.nav{
    z-index: 999;
}